/* Logo */

body {
  background: #f9f5e7;
  font-family: "Ysabeau Infant", sans-serif;
}

#logo {
  font-family: "Moirai One", cursive;
  font-size: 25px;
  margin-top: -10px;
  margin-left: 15px;
}

#logo-link {
  color: #a7727d;
  text-decoration: none;
}

/* Nav Bar */

nav {
  float: right;
  margin-top: -80px;
  margin-right: 20px;
}

.nav-item {
  font-size: 20px;
  color: #a7727d;
  text-decoration: none;
  margin: 0px 20px;
}

/* Main */

#main {
  text-align: center;
  font-size: 30px;
  margin-top: 100px;
  color: #3c2a21;
}

#main p {
  font-size: 20px;
}

#sewing {
  height: 350px;
  width: 350px;
  display: block;
  margin-top: -250px;
  margin-left: auto;
  margin-right: auto;
  opacity: 20%;
  z-index: -1;
}

/* Gallery */

#gallery-heading {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 30px;
}

.gallery-pic {
  width: 300px;
  height: 350px;
}

.slideshow {
  max-width: 300px;
  position: relative;
  margin: auto;
}

.slides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 7px;
  width: 7px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Price List */

#price-list-heading {
  text-align: center;
  font-size: 35px;
  margin-top: 100px;
  margin-bottom: 50px;
}

#list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 20px;
  margin-left: 400px;
  list-style: none;
  max-width: 700px;
}

li {
  color: #a7727d;
  margin-bottom: 10px;
}

/* Contact */

#contact {
  margin-bottom: 100px;
}

#contact-heading {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 30px;
}

#contact-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 20px;
  margin-left: 350px;
  list-style: none;
  max-width: 800px;
}

#contact-li {
  color: #3c2a21;
}
form {
  max-width: 300px;
}

.feedback-input {
  font-family: "Ysabeau Infant", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #a7727d;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #a7727d;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Ysabeau Infant", sans-serif;
  width: 100%;
  background: #a7727d;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #a7727d;
}

#mail {
  color: #a7727d;
  text-decoration: none;
}

/* Footer */

hr {
  width: 80px;
  border-color: #a7727d;
}

footer {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}
